@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/imagens/mountains-universe-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.overlover {
  margin-top: 63px;
  width: 648px;
  color: #E1E1E6;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;

  margin-bottom: 16px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}